<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <title>Document</title>
</head>
<body  class="#4dd0e1 green lighten-2">
    <div class="container #b2ebf2 green lighten-4">
        <div class="row col s12" style="padding-bottom: 15.2%; margin-bottom: 0;">
            <div class="col s6 offset-s3 center" style="margin-top: 20%;">
                <form name="formulario" method="get" action="index.html">
                    <h2>voce logou como usuario numero <%=nusuario%>!</h2>
                    <button class="btn btn-large #4dd0e1 red lighten-2" type="submit" name="botao">Voltar</button>
                </form>
                <form id="fcontagem" method="get" action="contagem">
                    <button class="btn btn-large #4dd0e1 purple lighten-2" style="margin-top: 10%;" type="submit" id="botao">Verificar Contagem</button>
                </form>
            </div>
        </div>
    </div>
</body>

</html>