.containerDetfilme {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;

    height: 100%;
    z-index: 1;
}

.containerDetfilme div {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 0.3rem 0.3rem 0.3rem 0.3rem;

    background-color: rgb(168, 238, 243);
    z-index: 1;

    overflow: hidden;

    transition: all 0.3s;
}

.containerDesc {
    width: min-content;
    height: min-content;
    margin: 2rem 0 0 1rem;
    z-index: 1;
}

.containerDesc ul {
    list-style: none;
    width: 65rem;
    margin-right: 1rem;
}

.containerDesc ul li img {
    width: 20rem;
    height: 28.5rem;
    margin-top: 0rem;
}

.containerDetalhes {
    width: max-content;
    height: 100%;
    margin: 2rem 0 2rem 1rem;
    padding: 0 0 0 0 !important;
}

.containerDetalhes th {
    margin-bottom: 0.3rem;

    font-size: 1.8rem;

    background: linear-gradient(90deg, #667eea, #764ba2);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.containerDetalhes tr {
    margin-bottom: 0.3rem;

    font-size: 1.2rem;

    background: linear-gradient(90deg, #667eea, #764ba2);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.containerDetalhes table {
    margin: 0 0 1rem 0;
    padding: 0 0 0 0;
    width: 100%;
    height: 20rem;
    box-shadow: 0 0 0.5rem#667eea;
    text-align: center;

    z-index: 2;
}

.containerDetalhes table:last-of-type {
    margin: 0 0 0 0 !important;
}

.cabecalhoDesc {
    display: flex;
    flex-direction: row;
}

.cabecalhoDesc h1 {
    display: flex;
    flex-direction: row;

    width: 38.5rem;

    margin: 0 0 0 0.5em;
    padding: 0 0 0 0;

    font-size: 23pt;
    font-weight: 700;
    text-align: start;

    background: linear-gradient(90deg, #667eea, #764ba2);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.cabecalhoDesc p,
.cabecalhoDesc tr {
    margin: 1.2rem 2rem 0 2rem;
    width: 95%;

    font-size: 12pt;
    font-weight: 700;
    text-align: justify;

    background: linear-gradient(90deg, #667eea, #764ba2);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.cabecalhoDesc table {
    width: 100%;
}

.atribDesc {
    margin-top: -1.1rem;
}

.atribDesc div:first-child {
    flex-direction: row;
    width: 100%;
}

.atribDesc p:nth-child(2) {
    margin-top: 0rem;
}

.atribDesc p:nth-child(3) {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 25pt;

    margin-left: 0.5rem;
}

.atribDesc p:nth-child(4),
.atribDesc p:nth-child(5),
.atribDesc p:nth-child(6) {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 15pt;
    margin-left: 0.5rem;
}

.atribDesc p:nth-child(7) {
    font-size: 15pt;
}

.atribDesc p:nth-child(8) {
    padding-right: 0.5rem;
}

.btSalvo {
    background-color: rgb(89, 190, 120);
}

.btSalvar {
    background-color: rgb(255, 75, 90);
}

.bt {
    font-size: 12pt;
    font-weight: 500;
    width: 8rem;
    text-align: center;

    border-radius: 0.4rem;
    border: none;
    padding: 1rem;

    margin-right: 1rem;

    transition: all 0.3s;

    color: aliceblue;
}

.btSalvar:hover {
    background-color: rgb(255, 37, 55);
    cursor: pointer;
}

.btSalvar:active {
    background-color: rgb(185, 15, 29);
}

.btSalvo:hover {
    background-color: rgb(53, 156, 84);
    cursor: pointer;
}

.btSalvo:active {
    background-color: rgb(20, 128, 52);
}
